<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<link rel="shortcut icon" type="image/x-icon" href="http://static.nurisoop.co.kr/images/img/nurisoop.ico" />
<title>누리숲 - 숲이 들려주는 피부 이야기, 누리숲입니다.</title>
<meta name="title" content="Nurisoop, 숲이 들려주는 이야기,쳔연화장품,누리숲, 녹삼초 여성청결제" />
<meta name="subject" content="Nurisoop, 숲이 들려주는 이야기,쳔연화장품,누리숲, 녹삼초 여성청결제" />
<meta name="description" content="Nurisoop, 숲이 들려주는 이야기,쳔연화장품,누리숲, 녹삼초 여성청결제">
<meta property="og:title" content="[누리숲] 녹삼초 여성청결제" /><meta property="og:description" content="[누리숲] 녹삼초 여성청결제" /><meta property="og:image" content="http://static.nurisoop.co.kr/images/goods/femininewash/410_1.jpg" /><link rel="stylesheet" type="text/css" href="http://static.nurisoop.co.kr/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://static.nurisoop.co.kr/css/layout.css?ver=20160203165218">
<link rel="stylesheet" type="text/css" href="http://static.nurisoop.co.kr/css/style.css?ver=20160203165218">

</head>
<body>
	<!--최상단-->
	<div id="top">
		<div class="top_menu">
			<ul class="login_menu">
							<li><a href="/user2/login" title="로그인">로그인</a></li>
				<li class="line3">|</li>
				<li><a href="/user2/agree" title="회원가입">회원가입</a></li>
				<li class="line3">|</li>
							<li><a href="/mypage/orderList" title="주문배송">주문배송</a></li>
				<li class="line3">|</li>
				<li><a href="/mypage/cartList" title="장바구니">장바구니</a></li>
			</ul>
		</div>
		<div class="top_link">
			<div class="left">
				<p>
					<a href="http://blog.naver.com/nurisoop1004" target="_blank" title="블로그"><img src="http://static.nurisoop.co.kr/images/img/btn_sns_b.jpg" alt="블로그"></a>
					<a href="https://www.facebook.com/nurisoop7979" target="_blank" title="페이스북"><img src="http://static.nurisoop.co.kr/images/img/btn_sns_f.jpg" alt="페이스북"></a>
					<a href="https://twitter.com/nurisoop" target="_blank" title="트위터"><img src="http://static.nurisoop.co.kr/images/img/btn_sns_t.jpg" alt="트위터"></a>
					<a href="http://goto.kakao.com/@누리숲" target="_blank" title="카카오톡"><img src="http://static.nurisoop.co.kr/images/img/btn_sns_k.jpg" alt="카카오톡"></a>
					<a href="https://story.kakao.com/ch/nuritalk" target="_blank" title="카카오스토리"><img src="http://static.nurisoop.co.kr/images/img/btn_sns_ks.jpg" alt="카카오스토리"></a>
				</p>
				<p><a href="/event/view/5" title="이벤트"><img src="http://static.nurisoop.co.kr/images/img/bn_topleft2.png" alt="누리숲 전상품 5천원 할인쿠폰"></a></p>
			</div>
						<div class="center"><a href="http://www.nurisoop.co.kr" title="홈"><img src="http://static.nurisoop.co.kr/images/img/logo.png" alt="누리숲 로고"></a></div>
						<div class="right">
				<form name="gnbSearchForm" method="get" action="/shop/sList2/">
					<table class="search_t">
						<colgroup>
							<col width="29">
							<col width="154">
						</colgroup>
						<tr>
							<td height="26"></td>
							<td><input name="srchText" class="search_input" style="width:150px" type="text" maxlength="40" value=""></td>
						</tr>
					</table>
					<input type="image" src="http://static.nurisoop.co.kr/images/img/search_img02.jpg" style="float:left">
				</form>
			</div>
		</div>
		<!--누리숲 회원등급별 혜택안내-->
		<div style="position:absolute; left:50%; height:0px;">
		<div id="memberClass_pop" style="position:absolute;display:none;left:-436px;top:20px;z-index:1000">
			<div class="title">누리숲 회원등급별 혜택안내 <a href="javascript:layerClose('memberClass_pop');" title="닫기"><img src="http://static.nurisoop.co.kr/images/img/btn_close2.jpg" style="float:right" /></a></div>
			<img src="http://static.nurisoop.co.kr/images/img/memberClass.jpg" alt="누리숲 회원등급별 혜택안내" />
			<p>
				- 모든 구매금액은 배송완료 기준입니다.<br/>
				- 배송비는 구매금액에서 제외됩니다.<br/>
				- 할인이벤트 상품 구매시 할인된 가격으로 적용됩니다.
			</p>
		</div>
		</div>
		<!--// 누리숲 회원등급별 혜택안내-->
	</div>
	<!--top end-->


	<div id="wrapper">
		<div id="header">
			<!--메인메뉴-->
			<div id="gnb">
				<ul>
					<li id="gnb_nurisoop"><a href="/company/brand" title="누리숲 소개">누리숲 소개</a></li>
					<li id="gnb_goods_01"><a href="/shop/sList/001/" title="기능별">기능별</a></li>
					<li id="gnb_goods_02"><a href="/shop/sList/002/" title="피부타입별">피부타입별</a></li>
					<li id="gnb_goods_03"><a href="/shop/sList/006/" title="성분별">성분별</a></li>
					<li id="gnb_goods_04"><a href="/shop/sList/005/" title="세트상품">세트상품</a></li>
					<li id="gnb_event"><a href="/event" title="이벤트">이벤트</a></li>
					<li id="gnb_review"><a href="/community" title="커뮤니티">커뮤니티</a></li>
					<li id="gnb_customer"><a href="/customer/notice" title="고객센터">고객센터</a></li>
				</ul>
			</div>
			<!--서브메뉴-->
			<div id="sub_menu">
				<dl>
					<dt class="hidden">서브메뉴</dt>
					<dd>
						<ul class="nurisoop" style="display:none;">
							<li><a href="/company/brand">브랜드 스토리</a></li>
							<li><a href="/company/news">누리숲 뉴스</a></li>
						</ul>
						<ul class="goods_01" style="display:none">
							<li><a href="/shop/sList/001002/">스킨/로션</a></li><li><a href="/shop/sList/001003/">크림/앰플/오일</a></li><li><a href="/shop/sList/001007/">썬크림/비비크림</a></li><li><a href="/shop/sList/001004/">클렌징/팩/각질제거</a></li><li><a href="/shop/sList/001005/">세트상품</a></li><li><a href="/shop/sList/001006/">화장소품</a></li>						</ul>
						<ul class="goods_02" style="display:none">
							<li><a href="/shop/sList/002004/">지성</a></li><li><a href="/shop/sList/002005/">민감성</a></li><li><a href="/shop/sList/002003/">복합성</a></li><li><a href="/shop/sList/002002/">건성</a></li>						</ul>
						<ul class="goods_03" style="display:none">
						<li><a href="/shop/sList/006008/">어성초</a></li><li><a href="/shop/sList/006009/">씨벅톤(산자나무)</a></li><li><a href="/shop/sList/006006/">병풀</a></li><li><a href="/shop/sList/006005/">EGF</a></li><li><a href="/shop/sList/006004/">펩타이드</a></li><li><a href="/shop/sList/006003/">프로폴리스</a></li><li><a href="/shop/sList/006002/">히알루론산</a></li><li><a href="/shop/sList/006001/">효모</a></li><li><a href="/shop/sList/006007/">녹차</a></li>						</ul>
						<ul class="goods_04" style="display:none">
						<li><a href="/shop/sList/005009/">수분관리 라인</a></li><li><a href="/shop/sList/005006/">트럽케어 라인</a></li><li><a href="/shop/sList/005004/">누리촉촉 라인</a></li><li><a href="/shop/sList/005003/">재생관리 라인</a></li><li><a href="/shop/sList/005002/">각질관리 라인</a></li><li><a href="/shop/sList/005001/">대나무숲 라인</a></li>						</ul>
						<ul class="event" style="display:none;">
							<li><a href="/event/index">진행중인 이벤트</a></li>
							<li><a href="/event/attendance">출첵 이벤트</a></li>
							<li><a href="/event/index/?type=end">지난 이벤트</a></li>
							<li><a href="/event/winners">당첨자 발표</a></li>
						</ul>
						<ul class="review" style="display:none;">
							<li><a href="/community/review">사용후기</a></li>
							<li><a href="/community/qna">상품QnA</a></li>
						</ul>
						<ul class="customer" style="display:none;">
							<li><a href="/customer/notice">공지사항</a></li>
							<li><a href="/customer/faq">자주하는 질문</a></li>
							<li><a href="/customer/howto">이용안내</a></li>
							<li><a href="/customer/sample">무료샘플신청</a></li>
							<li><a href="/customer/qna">1:1 문의하기</a></li>
							<li><a href="/customer/ingre">성분사전</a></li>
							<li class="last"><a href="/customer/coupon">쿠폰사용방법</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div id="gnb_bottom_line" style="clear:both;">&nbsp;</div>
		</div>
		<!--header end-->

	<div id="quickbn"><div id="quickbn2">
		<p style="margin-bottom:10px;"><a href="/customer/sample"><img src="http://static.nurisoop.co.kr/images/img/wing_bn_sample.jpg" alt="전상품 무료샘플신청하기"></a></p>
		<p style="margin-bottom:10px;"><a href="/event/kakao" target="_blank"><img src="http://static.nurisoop.co.kr/images/img/kakao_friends_bn.jpg"></a></p>
		<img src="http://static.nurisoop.co.kr/images/img/quick_img01.jpg" alt="QUICK">
		<div class="goods">
			<div style="margin:0 3px; padding-top:5px; background-color:#FFF;"><img src="http://static.nurisoop.co.kr/images/img/quick_img05.jpg" alt="오늘 본 상품"></div>
			<div class="todayView"><div class="todayView2">
			<ul style="margin:0; padding-left:10px;">
				<li class="photo"><a href="/shop/view/57"><img src="http://static.nurisoop.co.kr/images/goods/femininewash/80.jpg"></a></li>			</ul>
			</div></div>
			<div style="margin:0 3px; padding-bottom:5px; background-color:#FFF;"><a href="javascript:quickbn_goods('prev');"><img src="http://static.nurisoop.co.kr/images/img/btn_prev2.jpg" alt="이전"></a> <span class="q_view_page">1</span>/<span class="q_page">1</span> <a href="javascript:quickbn_goods('next');"><img src="http://static.nurisoop.co.kr/images/img/btn_next2.jpg" alt="다음"></a></div>
		</div>
		<a href="/mypage/wishlist"><img src="http://static.nurisoop.co.kr/images/img/quick_img02.jpg" alt="위시리스트"></a>
		<a href="/mypage/cartList"><img src="http://static.nurisoop.co.kr/images/img/quick_img03.jpg" alt="장바구니"></a>
		<a href="http://www.ilogen.com/d2d/delivery/invoice_search.jsp" target="_blank"><img src="http://static.nurisoop.co.kr/images/img/quick_img04.jpg" alt="빠른배송조회"></a>
		<a href="javascript:winOpen('/siteProc/findBank', 'findbank', '404', '500');"><img src="http://static.nurisoop.co.kr/images/img/quick_img06.jpg" alt="미확인입금" style="margin-bottom:10px"></a>
		<p><a href="#"><img src="http://static.nurisoop.co.kr/images/img/btn_top.png" alt="TOP"></a></p>

	</div></div>


<div id="snsAltBox" style="position:absolute; display:none; top:0; left:0; width:240px; padding:6px 0; text-align:center; color:#755A49; border:1px #D7CAC2 solid; background-color:#EBE4DE;">
로그인하면 <b>"공유하기 이벤트"</b> 참여가능
</div>
<div id="cartMsg" style="position:absolute; display:none;width:300px; height:200px; border:2px red solid; background-color:#00ffff; z-index:1;">
	<div style="padding:30px 0;text-align:center;" class="msg">
		장바구니 담기 완료
		<div class="msg">장바구니 담기 완료</div>
	</div>
</div>
<div id="wishMsg" style="position:absolute; display:none;width:300px; height:200px; border:2px red solid; background-color:#fff; z-index:1;">
	<div style="padding:30px 0;text-align:center;">
		위시리스트 담기 완료
		<div class="msg">위시리스트 담기 완료</div>
	</div>
</div>
		<a name="#goods"></a>
		<!--서브-->
		<div id="sub_wrap">
			<p class="navigation"><span class="home">HOME</span>
			 > 기능별 > 클렌징/팩/각질제거			<div id="detail_box">
				<form name="goodsForm" id="goodsForm" method="post">
				<input type="hidden" name="goodsno" value="57" />

				<!-- 190905 이미지 수정 --->
				<img src="http://static.nurisoop.co.kr/images/event/20190904_thanksgiving/detail_icon_w.png" style="position:absolute; right:176px; top:105px" alt="최대~할인"/>


				<table class="photo">
				<colgroup>
				<col width="410">
				<col width="10">
				<col width="82">
				</colgroup>
								<tr>
				<td rowspan="5" class="big">
					<div class="img_l_view" id="img_l_0" style="display:block;"><img src="http://static.nurisoop.co.kr/images/goods/femininewash/410_1.jpg" style="max-width:410px;max-height:410px;"></div>
					<div class="img_l_view" id="img_l_1" style="display:none;"><img src="http://static.nurisoop.co.kr/images/goods/femininewash/410_2.jpg" style="max-width:410px;max-height:410px;"></div>

					<!-- 190905 이미지 변경 -->
					<img src="http://static.nurisoop.co.kr/images/event/20190904_thanksgiving/thumnail_w.png" style="position:absolute; top:-12px; left:-12px" alt="최대~할인">
				</td>
				<td rowspan="5"></td>
				<td class="small"><a href="javascript:viewImgL('0');"><img src="http://static.nurisoop.co.kr/images/goods/femininewash/80.jpg"style="max-width:80px;max-height:80px;" onMouseOver="viewImgL('0');"></a></td>
				</tr>
				<tr><td class="small"><a href="javascript:viewImgL('1');"><img onMouseOver="viewImgL('1');" src="http://static.nurisoop.co.kr/images/goods/femininewash/80_2.jpg" style="max-width:80px;max-height:80px;"></a></td></tr><tr><td class="small">&nbsp;</td></tr><tr><td class="small">&nbsp;</td></tr><tr><td class="small">&nbsp;</td></tr>
				<tr><td colspan="3" height="40">
				<!-- snsBtn -->
				<a href="javascript:snsSendMail();"><img src="http://static.nurisoop.co.kr/images/img/icon_mail.png" alt="메일로 공유" class="snsBtn" /></a>
				<a href="javascript:window.open('/siteProc/snsSendAck/57/facebook', 'facebook', 'width=700, height=300');void(0);"><img src="http://static.nurisoop.co.kr/images/img/icon_face.gif" class="snsBtn" alt="페이스북 공유" /></a>
				<a href="javascript:window.open('/siteProc/snsSendAck/57/twitter', 'twitter', 'width=700, height=300');void(0);"><img src="http://static.nurisoop.co.kr/images/img/icon_tw.gif" class="snsBtn" alt="트위터 공유" /></a>
								<!-- snsBtn -->
				<img src="http://static.nurisoop.co.kr/images/img/txt_recommendSNS.jpg" alt="" />
				</td></tr>
				</table>
				<table class="info">
				<colgroup>
				<col width="120">
				<col width="360">
				</colgroup>
				<tr>
				<td colspan="2" class="name" height="50">

				녹삼초 여성청결제				
				<img src="http://static.nurisoop.co.kr/images/img/good_icon_new.gif">
					<img src="http://static.nurisoop.co.kr/images/img/good_icon_event.gif">
					<img src="http://static.nurisoop.co.kr/images/img/good_icon_sale.gif">
					
				</td>
				</tr>
				<tr>
				<td colspan="2" class="line"></td>
				</tr>
				<tr>
				<th height="25">판매가 :</th><td>

									<span class="sale_txt">18,000원 </span>
				</td>

				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<tr>
				<th height="30">할인가 :</th><td><b class="saleDicount_txt">14,900원
</b>
								</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
								<tr>
				<th class="discount_txt"><b>회원할인가</b> :</th>
				<td>
					<span class="discount_price">14,900</span><span class="discount_txt">원<span> <span class="discount_txt2">(씨앗등급 회원할인)<span><input type="hidden" name="real_price" value="14900">									</span></span></span></span></td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<!--수피아등급할인가-->
				<tr>
				<th height="25">수피아 등급 할인가 :</th><td>14,155원 &nbsp;&nbsp;
				<img src="http://static.nurisoop.co.kr/images/img/btn_member.jpg" onclick="memberLevelInfoOpen(event);" style="cursor:pointer;">
				</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<tr>
				<th height="25"><b>적립금</b> :</th>
				<td>
					로그인 후 확인할 수 있습니다.					
				</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<tr>
								<th height="25">상품상태 :</th><td>신상품</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
								<tr>
				<th height="25">구매수량 :</th>
				<td>
				<table border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="32" align="center">
								<input name="ea" class="ea" style="" onkeyUp="onlyNum(this)" type="text" size="2" maxlength="2" value="1">
							</td>
							<td width="15" style="padding-left:2px;line-height:0">
								<img style="cursor: pointer;" onClick="chg_cart_ea('ea', 'up')" src="http://static.nurisoop.co.kr/images/img/btn_plus2.gif">
								<img style="cursor: pointer;" onClick="chg_cart_ea('ea', 'dn')" src="http://static.nurisoop.co.kr/images/img/btn_minus2.gif">
							</td>
						</tr>
					</tbody>
				</table>
				</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<tr>
								<th height="25">고객선호도 :</th>
				<td>
								<img src="http://static.nurisoop.co.kr/images/img/star04.jpg">
								</td>
				</tr>
				<tr>
				<td colspan="2" class="dot"></td>
				</tr>
				<tr>
				<th height="35">제품상태 :</th>
				<td>
				<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_event.gif' />
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_sale.gif' />
									</td>
				</tr>
				<tr>
				<td colspan="2" class="line"></td>
				</tr>
				<tr>
				<td colspan="2" class="btn">

									<a href="javascript:goodsOrder();"><img src="http://static.nurisoop.co.kr/images/img/btn_buy.jpg" alt=""></a>
					<a href="javascript:addCart('57');"><img src="http://static.nurisoop.co.kr/images/img/btn_cart.jpg" alt=""></a>
					<a href="javascript:addWish('57');"><img src="http://static.nurisoop.co.kr/images/img/btn_wish.jpg" alt=""></a>

				</td>
				</tr>
				<tr>
				<td colspan="2">
<!-- naverpay_button -->

		<script type="text/javascript" src="https://pay.naver.com/customer/js/naverPayButton.js" charset="UTF-8"></script>
		<script type="text/javascript" >//<![CDATA[
		naver.NaverPayButton.apply({
		BUTTON_KEY: "F42C184C-32CF-41B5-97CD-711665D5C260", // 네이버 페이에서 제공받은 버튼 인증 키 입력
		TYPE: "C", // 버튼 모음 종류 설정
		COLOR: 2, // 버튼 모음의 색 설정
		COUNT: 2, // 버튼 개수 설정. 구매하기 버튼만 있으면(장바구니 페이지) 1, 찜하기 버튼도 있으면(상품 상세 페이지) 2를 입력.
		ENABLE: "Y", // 품절 등의 이유로 버튼 모음을 비활성화할 때에는 "N" 입력
		BUY_BUTTON_HANDLER: buy_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용
		WISHLIST_BUTTON_HANDLER: wishlist_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용
			 "":""
		});
		//]]></script>
		<!-- naverpay_button -->
				</td>
				</tr>

				</table>
				</form>
			</div>

						<h3><img src="http://static.nurisoop.co.kr/images/img/detail_tit_recommend.png" alt="이 상품과 함께 인기 있는 제품 추천!"></h3>
			<div class="recommend">
				<ul>
									<li>
					<a href="/shop/view/8/"><img src="http://file.nurisoop.co.kr/goods/201504/1428484210phpk59e16.jpg" class="recommend_img"></a><br/>
					<a href="javascript:addCart('8');"><img src="http://static.nurisoop.co.kr/images/img/icon_cart.jpg"></a><br/>
					<p class="name">포레스트 녹삼초 폼클렌저</p>
					<p class="discount"><b>7,700</b>원</p>
					<p>
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_recomm.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_best.gif' />
											</p>
					</li>
									<li>
					<a href="/shop/view/28/"><img src="http://static.nurisoop.co.kr/images/goods/cleansing_water/165.jpg" class="recommend_img"></a><br/>
					<a href="javascript:addCart('28');"><img src="http://static.nurisoop.co.kr/images/img/icon_cart.jpg"></a><br/>
					<p class="name">누리촉촉 비누풀 클렌징워터</p>
					<p class="discount"><b>18,400</b>원</p>
					<p>
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_popular.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_sale.gif' />
											</p>
					</li>
									<li>
					<a href="/shop/view/15/"><img src="http://file.nurisoop.co.kr/goods/201504/1428483878phpqj3uuD.jpg" class="recommend_img"></a><br/>
					<a href="javascript:addCart('15');"><img src="http://static.nurisoop.co.kr/images/img/icon_cart.jpg"></a><br/>
					<p class="name">각질관리세트(가슬팩+고마쥬금의필링젤)</p>
					<p class="discount"><b>19,800</b>원</p>
					<p>
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_recomm.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_special.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_sale.gif' />
											</p>
					</li>
									<li>
					<a href="/shop/view/9/"><img src="http://file.nurisoop.co.kr/goods/201504/1428484170phpQWolUU.jpg" class="recommend_img"></a><br/>
					<a href="javascript:addCart('9');"><img src="http://static.nurisoop.co.kr/images/img/icon_cart.jpg"></a><br/>
					<p class="name">피지아웃 가슬 타이트닝팩</p>
					<p class="discount"><b>11,000</b>원</p>
					<p>
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_recomm.gif' />
											</p>
					</li>
									<li>
					<a href="/shop/view/10/"><img src="http://file.nurisoop.co.kr/goods/201504/1428484128phpFcvebC.jpg" class="recommend_img"></a><br/>
					<a href="javascript:addCart('10');"><img src="http://static.nurisoop.co.kr/images/img/icon_cart.jpg"></a><br/>
					<p class="name">고마쥬금의 필링젤</p>
					<p class="discount"><b>11,000</b>원</p>
					<p>
					<img src='http://static.nurisoop.co.kr/images/img/good_icon_new.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_recomm.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_popular.gif' />
						<img src='http://static.nurisoop.co.kr/images/img/good_icon_best.gif' />
											</p>
					</li>
								</ul>
			</div>

			<!-- <div><img src="http://static.nurisoop.co.kr/images/img/bn_gift_info.jpg" alt="구매금액별 사은품안내" style="margin-bottom:40px"></div> -->

			<a name="tab01"><img src="http://static.nurisoop.co.kr/images/img/detail_tab01_0910.png" alt="제품정보" usemap="#tab_Map" /></a>
			<div class="contents">

				<!-- 190905 배너 이미지 변경 -->
				<div style="margin-bottom:20px;"><a href=""><img src="http://static.nurisoop.co.kr/images/event/20190904_thanksgiving/detail_bn_w.jpg" alt="역대급 할인 찬스 추석이벤트 배너"/></a></div>

				<div style="margin-bottom:20px;"><a href="/user2/agree"><img src="http://static.nurisoop.co.kr/images/img/bn_detailJoin.jpg" /></a></div>

				<div><img src="http://static.nurisoop.co.kr/images/open/brand_img.jpg" /></div>


				<div><p><img src="http://static.nurisoop.co.kr/images/goods/FeminineWash.jpg" /></p></div>
				<div style="padding-left:66px;">
					<table class="goods_info_table" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td width="26" height="68">&nbsp;</td>
						<td width="131">&nbsp;</td>
						<td width="410">&nbsp;</td>
						<td width="278">&nbsp;</td>
						<td width="118">&nbsp;</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td colspan="3">녹삼초 여성청결제</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td colspan="3">150ml</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td>모든피부</td>
						<td colspan="2">별도표기/개봉전2년/개봉후6개월</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td>1688-6093</td>
						<td>별도표기</td>
						 <td>한국</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td colspan="3">누리숲 / 서울특별시 강남구 선릉로 99길 12 모노타워 / www.nurisoop.co.kr</td>
					  </tr>
					  <tr>
						<td height="30">&nbsp;</td>
						<td>&nbsp;</td>
						<td colspan="3">본 상품에 이상이 있을 경우 공정거래위원회고시 소비자분쟁해결기준에 의하여 보상해 드립니다. </td>
					  </tr>
					  <tr>
						<td colspan="5">&nbsp;</td>
					  </tr>
					  <tr>
						<td height="200">&nbsp;</td>
						<td colspan="4"><p>1. 화장품을 사용하여 다음과 같은 이상이 있는 경우에는 사용을 중지하여야 하며, 계속 사용하면 증상이 악화되므로 피부과 전문의 등에게 상담하십시오.<br />
						 &nbsp; 1) 사용 중 붉은 반점, 부어오름, 가려움증, 자극 등의 이상이 있는 경우<br />
						 &nbsp; 2) 적용 부위가 직사광선에 의하여 위와 같은 이상이 있는 경우</p>
						  <p>2. 상처가 있는 부위, 습진 및 피부염 등의 이상이 있는 부위에는 사용을 하지 마십시오.</p>
						  <p>3. 보관 및 취급 시의 주의사항<br />
						  &nbsp;1) 사용 후에는 반드시 마개를 닫아두십시오.<br />
						  &nbsp;2) 유아ㆍ소아의 손이 닿지 않는 곳에 보관하고, 삼켰을 경우 즉시 전문의와 상담하십시오.<br />
						  &nbsp;3) 고온 또는 저온의 장소 및 직사광선이 닿는 곳에는 보관하지 마십시오.</p>
						<p>4. 사용 후에는 반드시 마개를 닫고 일광이 비치지 않는 서늘한 곳에 보관하십시오.</p></td>
					  </tr>
					  <tr>
						<td height="25" colspan="5">&nbsp;</td>
					  </tr>
					</table>
				</div>
				<div><img src="http://static.nurisoop.co.kr/images/img/animal_info.jpg" /></div>
				<div><img src="http://static.nurisoop.co.kr/images/img/gift_info.jpg" /></div>
				<div><img src="http://static.nurisoop.co.kr/images/img/delivery_notice.jpg" border="0" usemap="#delivery_Map" /></div>
				<map name="delivery_Map" id="delivery_Map">
				  <area shape="rect" coords="602,718,761,763" href="/customer/sample/" alt="무료샘플신청하러가기" />
				  <area shape="rect" coords="766,719,946,763" href="/customer/faq/?cate2=04" alt="교환반품환불안내더보기" />
				</map>
			</div>
			<a name="tab02" href="javascript:winOpen2('/community/reviewWrite/57');"><img src="http://static.nurisoop.co.kr/images/img/detail_tab02_0910.png" alt="사용후기" usemap="#tab_Map" /></a>
			<div class="contents2">
				<img src="http://static.nurisoop.co.kr/images/img/tit_review.jpg" alt="Review">
				<table class="review_t" id="review_t">
				<colgroup>
				<col width="50">
				<col width="650">
				<col width="143">
				<col width="75">
				<col width="100">
				</colgroup>
				<tbody>
				</tbody>
				</table>
				<div class="btn">
					<a href="/community/review"><img src="http://static.nurisoop.co.kr/images/img/btn_all.jpg" alt="전체보기"></a>
					<a href="javascript:winOpen2('/community/reviewWrite/57', 'review', 737,640);"><img src="http://static.nurisoop.co.kr/images/img/btn_write.jpg" alt="사용후기작성"></a>
				</div>
				<div id="review_paging">
					<ul>
					<li class="num_on">1</li>
					<li class="num"><a href="">2</a></li>
					<li class="num"><a href="">3</a></li>
					</ul>
				</div>
			</div>
			<a name="tab03"><img src="http://static.nurisoop.co.kr/images/img/detail_tab03_0910.png" alt="상품Q&A" usemap="#tab_Map" /></a>

			<div class="contents2">
			<img src="http://static.nurisoop.co.kr/images/img/tit_qna.jpg" alt="Q&A">
				<table class="qna_t" id="qna_t">
				<colgroup>
				<col width="60">
				<col width="715">
				<col width="143">
				<col width="100">
				</colgroup>
				<tbody>
				</tbody>
				</table>
				<div class="btn">
					<a href="/community/qna"><img src="http://static.nurisoop.co.kr/images/img/btn_all.jpg" alt="전체보기"></a>
					<a href="javascript:winOpen2('/community/qnaWrite/57', 'qna', 737,640);"><img src="http://static.nurisoop.co.kr/images/img/btn_qnawrite.jpg" alt="상품문의작성"></a>
				</div>
				<div id="qna_paging">
				</div>
			</div>

			<a name="tab05"><img src="http://static.nurisoop.co.kr/images/img/detail_tab04_0910.png" alt="자주하는질문" usemap="#tab_Map" /></a>
			<div class="contents2">
				<img src="http://static.nurisoop.co.kr/images/img/tit_faq.jpg" alt="FAQ">
				<table class="review_t" id="faq_t" style="width:100%;">
				<colgroup>
				<col width="160">
				<col>
				<col width="143">
				</colgroup>
				<tbody>
				</tbody>
				</table>
				<div id="faq_paging">
				</div>
			</div>

			<a name="tab04"><img src="http://static.nurisoop.co.kr/images/img/detail_tab05_0910.png" alt="배송/교환/반품" usemap="#tab_Map" /></a>
			<div class="contents3">
				<img src="http://static.nurisoop.co.kr/images/img/tit_delivery.jpg" alt="배송/교환/반품">
				<table class="delivery_t">
				<colgroup>
				<col width="200">
				<col width="818">
				</colgroup>
				<tr>
				<th><b>누리숲<br/>배송안내</b></th>
				<td>
				<b>배송시간안내</b><br/>
				- 16시 이전에 주문하신 고객님들은 당일 배송, 16시 이후 주문하신 고객님들은 익일 배송을 기본 원칙으로 합니다<br/>
				- 월 ~ 금요일 오후 16시 전까지 입금 확인이 되면, <span><b>로젠택배를 이용해서 당일 배송해드립니다.</b></span><br/><br/>
				<b>샘플 배송 안내</b><br/>
				- 본품 주문하신 분들께 테스트용으로 샘플 1개씩 포함 발송하여 드립니다. <br/>
				- 샘플 먼저 사용해 보신 후 본품 사용해주세요. ^^<br/>
				- 2만원 이상 구입시 무료 배송이며, 도서 산간지역은 추가비용 2,500원이 추가됩니다. <br/>
				- 주말,공휴일 주문/ 도서 산간지역(제주, 울릉도 등 섬 지역)은 2~3일 정도 걸릴 수 있습니다.<br/>
				<span>- 당일 발송 후 다음날 받아보실 수 있습니다. (택배사 사정 제외)</span> <br/>
				- 배송예정일은 주문시점(주문순서)에 따른 유동성이 발생하므로 평균 배송일과는 차이가 발생할 수 있습니다.<br/>
				- 악천후나 지역 배송의 경우 예상일보다 배송이 지연될 수 있으니 참고 부탁드리며,<br/>
				- 배송 상태는 <span><a href="/mypage/orderList">[마이페이지 &gt; 주문내역/배송조회] </a></span>페이지에서 확인하실 수 있습니다.
				</td>
				</tr>
				<tr>
				<th><b>누리숲<br/>교환 및 반품안내</b></th>
				<td>
				상품교환/반품신청은 제품수령일 기준 7일 이내에만 신청이 가능하며, <br/>
				제품 불량이거나, 제품 사용시 피부 부작용이 발생한 경우 제품수령일 기준 20일 이내에 신청 가능합니다.<br/>
				(단, 부작용이 발생한 경우, 샘플 사용 후 제품은 미개봉 상태여야 하며, 피부과 진단서 및 소견서가 필요합니다.) <br/>
				<span>고객님의 단순 변심으로 교환/반품하시거나 불분명한 배송정보 입력으로 반송되었을 시,<br/>
				배송비 5,000원(반송대금 2,500원 추가)이 고객님께 부담되니 참고하시기 바랍니다.(착불 형태로 진행/ 제품의 하자, 배송오류는 제외)</span><br/><br/>
				<b>아래의 경우 교환/반품이 불가합니다.</b><br/>
				-  제품의 포장을 개봉하거나 사용한 경우<br/>
				-  제품의 겉포장을 손상하거나 분실한 경우<br/>
				-  고객의 부주의로 제품이 파손되거나 손상(훼손)된 경우<br/>
				-  화장소품은 파손 및 손상이 없어도 교환/반품 불가<br/>
				-  구매자가 반송대금을 지불하지 않는 경우
				</td>
				</tr>
				</table>
			</div>
			<map name="tab_Map" id="tab_Map">

			  <area shape="rect" coords="0,1,146,32" href="#tab01" alt="제품정보" />
			  <area shape="rect" coords="148,1,288,32" href="#tab02" alt="사용후기" />
			  <area shape="rect" coords="291,1,431,34" href="#tab03" alt="상품Q&amp;A" />
			  <area shape="rect" coords="433,2,571,37" href="#tab05" alt="자주하는질문" />
			  <area shape="rect" coords="574,1,712,36" href="#tab04" alt="배송/교환/반품" />
			</map>
		</div>


			<!--하단 장바구니/구매 탭-->
		<div id="cartTab_open" style="display:block">
			<div class="btn">
				<ul class="left">
					<li><a href="/mypage/wishlist"><img src="http://static.nurisoop.co.kr/images/img/cartTab_txt02.png" alt="위시리스트"></a></li>
					<li><a href="/mypage/cartList"><img src="http://static.nurisoop.co.kr/images/img/cartTab_txt03.png" alt="장바구니보기"></a></li>
				</ul>
				<ul class="right">
					<ul>
						<li><a href="javascript:addCart('57');"><img src="http://static.nurisoop.co.kr/images/img/cartTab_cart.png" alt="장바구니"></a></li>
						<li><a href="javascript:goodsOrder();"><img src="http://static.nurisoop.co.kr/images/img/cartTab_pay.png" alt="구매하기"></a></li>
				</ul>
			</div>
		</div>


		<!--하단바로가기-->
		<div id="footer_mn">
			<ul class="txt">
			<li class="p_l_20"><a href="javascript:winOpen('/company/agreement', '', 840, 800);">서비스이용약관</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="javascript:winOpen('/company/policy', '', 840, 800);">개인정보취급방침</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="/company/brand">회사소개</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="/customer/howto">이용안내</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="javascript:winOpen('/company/contact', '', 737, 640);">제휴안내</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="/customer/qna">1:1문의하기</a></li>
			</ul>
			<div class="family">
				<div class="fam_btn_m"><a href="javascript:fsite.click_family();">Family Site&nbsp;&nbsp;&nbsp;&nbsp;▲</a></div>
				<div id="family_list">
					<iframe src="http://www.nurisoop.co.kr/site/familySite.php" style="width:100%;" frameborder="0"></iframe>
				</div>
			</div>
		</div>

		<!--하단정보-->
		<div id="footer">
			<div class="logo"><img src="http://static.nurisoop.co.kr/images/img/footer_logo.jpg"></div>
			<div class="txt">
(주)이비즈네트웍스 / 대표이사 : 박기범 / 135-917 서울특별시 강남구 선릉로 99길 12 모노타워  <br/>
고객센터 1688-6093 / FAX : 070-8277-5511 / EMAIL 주소 : nurisoop@ebiznetworks.co.kr / 개인정보관리자 : 박준수<br/>
사업자등록번호 : 220-87-30865[<a href="http://www.ftc.go.kr/info/bizinfo/communicationList.jsp" target="_blank">사업자번호조회</a>] / 통신판매업 신고번호 : 강남-11501호<br />의료기기판매업 영업신고번호 : 제 4730호 <br/>
CopyrightⓒEbizNetworks. All Rights Reserved.
			<img src="http://static.nurisoop.co.kr/images/img/footer_mark.png" alt="" style="margin-top:10px;" usemap="#map"/>
			<script>
			function pop_taxpayer() {
				var win_tax	= window.open('/mypage/taxpayer','taxpayer','scrollbars=no,resizable=no,width=510,height=720');
			}
			</script>
            <map name="Map">
    			<area shape="rect" coords="349,8,483,38" href="javascript:pop_taxpayer();">
    		</map>
			</div>
			<div class="link">
				<img src="http://static.nurisoop.co.kr/images/img/qrcode.jpg" alt="QR코드">
				<div style="margin-top:10px">
					<!-- KB에스크로 이체 인증마크 적용 시작 -->
					 <a href="javascript:onPopKBAuthMark('http://www.nurisoop.co.kr');">
					 <img src="http://static.nurisoop.co.kr/images/img/escrowcmark.png" border="0">
					 </a>
					 <!--KB에스크로이체 인증마크 적용 종료 -->
				</div>
			</div>
		</div>

	</div>
	<!--wrapper end-->




 </body>
</html>